---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row" id="projects">
    <Topic title="Case Studies" description="Explore Real-Life Examples of Our Proven Digital Marketing Success through Our Case Studies" />
</div>

<div class="w-full p-12 bg-zinc-900 rounded-[45px] justify-start items-start gap-16 inline-flex text-white">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2 divide-x-0 md:divide-x divide-y md:divide-y-0">
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">Our talented designers create visually stunning and unique graphics that not only look great but also resonate deeply with your brand identity. We ensure your business stands out in a crowded market.</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
                <div class="text-lime text-xl font-normal leading-7">Learn more</div>
                <img src="/services/agc.svg" alt="arrow">
            </div>
        </div>
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">We build responsive, user-friendly websites tailored to your specific needs. Our websites provide seamless experiences across all devices, ensuring your online presence is both engaging and effective in driving conversions.</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
                <div class="text-lime text-xl font-normal leading-7">Learn more</div>
                <img src="/services/agc.svg" alt="arrow">
            </div>
        </div>
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">From concept to completion, we handle everything. Our full-service offerings include web design, development, SEO, and ongoing support. We prioritize your satisfaction by working closely with you to understand your needs and deliver solutions that exceed your expectations.</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
                <div class="text-lime text-xl font-normal leading-7">Learn more</div>
                
            </div>
        </div>
    </div>
    
    <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
    <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
    
</div>

</Container>