---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row">
    <Topic title="Testimonials" description="Hear from Our Satisfied Clients: Read Our Testimonials to Learn More about Our Digital Marketing Services" />
</div>

<div class="flex-row items-center my-6 p-14 bg-black text-white rounded-[45px]">
    <div class="justify-items-center relative w-full border border-lime rounded-3xl">
        <div class="p-4 md:p-10">
            <p class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4">"We're thrilled with our new website developed by RS Media Solution! The team captured our brand perfectly, creating a stunning, user-friendly site that works flawlessly on all devices. Communication was seamless, and they were attentive to our feedback. Since the launch, we've seen a significant increase in traffic and sales. Highly recommend!"</p>
            <span class="text-lime text-base md:text-xl font-medium">Somnath Ghosh<br/></span><span class="text-white text-lg font-normal">CEO & Founder at <a href="https://apitoexim.com/">Somnath Ghosh And Son's</a> </span>
        </div>
    </div>
</div>


<div class="flex-row items-center my-6 p-14 bg-black text-white rounded-[45px]">
    <div class="justify-items-center relative w-full border border-lime rounded-3xl">
        <div class="p-4 md:p-10">
            <p class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4">"RS Media Solution did an amazing job on our brochure design! They delivered a creative, professional, and visually appealing brochure that truly represents our brand. The process was smooth and collaborative, with great attention to detail. We've received fantastic feedback from clients. Highly recommended!"</p>
            <span class="text-lime text-base md:text-xl font-medium">Koustab Ganguly<br/></span><span class="text-white text-lg font-normal"><a href="https://kosexim.com">Director at KOS EXIM</a></span>
        </div>
    </div>
</div>

</Container>